@charset "utf-8";
/* A. King: custom CSS implementations for Playbook template */


            .pbfooterDiv {
                padding-top: 13px;
                padding-bottom: 5px;
                margin-top: 10px;
                margin-bottom: 0px;
                background-color: #008080;
                text-align: center;
            }
            
            .pbfooterDiv p {
                font-size:small;
                color:white;
            }
            
            
            .pbButton {
                box-shadow:inset 0px 1px 0px 0px #ffffff;
                background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
                background-color:#ffffff;
                border-radius:6px;
                border:1px solid #dcdcdc;
                display:inline-block;
                cursor:pointer;
                color:#666666;
                font-family:Arial;
                font-size:15px;
                font-weight:bold;
                padding:6px 5px;
                text-decoration:none;
                text-shadow:0px 1px 0px #ffffff;
            }
            .pbButton:hover {
                background:linear-gradient(to bottom, #E8E8E8 5%, #ffffff 100%);
                background-color:#f6f6f6;
            }
            .pbButton:active {
                position:relative;
                top:1px;
            }    
                        


    /* A. King: Format page to faciliate better hardcopy printing */

    @media print {

        .jumbotron h1 {
          color: black !important;
          font-weight: 500 !important;
        }

        .jumbotron p {
          color: black !important;
          font-weight: 400 !important;
        }

        .pbfooterDiv {
            border-style: solid !important;
        }

        .pbfooterDiv p {
            color: black !important;
            font-weight:500 !important;        
        }

    }